.Form{

    margin-top: 50px;
    margin-left: 550px;
    margin-right: 500px;

}

form{

border: 2px solid grey;
    padding: 60px;
    background-color: lightgray;

}

legend{
    text-align: center;
}

input{
    width: 350px;
    height: 30px;
}

.send{
    background-color: dodgerblue;
}

body{
    background-image: url("Assignment/download (1).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}